<form class="gift_card_form fieldset" method="post" enctype="multipart/form-data" action="<?php echo $block->getApplyGiftCardAction() ?>" >
    <div class="field">
        <label for="coupon_code" class="label"><span><?php /* @escapeNotVerified */ echo __('Gift Card') ?></span></label>

        <input type="text" name="gift_card_code" placeholder="Enter Gift Card Code" value=""/>
    </div>
    <button class="action primary">REDEEM</button>
</form>

