<?php
$comments = $block->getComments();
?>

<legend class="admin__legend legend">
    <span>Age Verification History</span>
</legend>
<br>
<hr>
<br>
<div class="admin__field admin__field-option">
    <input
            name="age[is_verification_passed]"
           type="checkbox"
           id="is_passed"
           class="admin__control-checkbox"
           />
    <label class="admin__field-label" for="age_visible">
        <?= /* @noEscape */ __('Age Verification Test Passed?') ?>
    </label>

    <input name="age[customer_id]"
           type="hidden"
           id="customer_id"
           class="admin__control"
           value="<?=$block->getCustomerId();?>" />

    <input name="age[user_id]"
           type="hidden"
           id="user_id"
           class="admin__control"
           value="<?=$block->getCurrentUserId();?>" />

</div>



<div class="admin__field">
    <label for="age_comment" class="admin__field-label">
        <?= /* @noEscape */ __('Comment') ?>
    </label>
    <div class="admin__field-control">
                    <textarea name="age[comment]"
                              rows="3"
                              cols="5"
                              id="age_comment"
                              class="admin__control-textarea"></textarea>
    </div>
</div>

    <div class="customer-age-comments-actions">

<br>
        <button title="Submit"
                id="age_button"
                type="button"
                class="action-default scalable action-save action-secondary"
                data-ui-id="widget-button-0">
            <span>Submit</span>
        </button>

    </div>
<br>

<div id="comments">
    <ul class="note-list">

    <?php if(count($comments) > 0):?>
        <?php foreach ($comments as $comment):?>

        <?php $verification = $comment->getIsAgeVerificationPassed();

        if($verification == 0){
            $verificationLabel = "NO";
        }else{
            $verificationLabel = "YES";
        }

        $user = $block->getUserData($comment->getUserId());?>
             <li class="note-list-item <?php echo strtolower($verificationLabel)?>">
                <span class="note-list-date">
                            <?= $comment->getCreatedAt(). ' | '.'Age Verification Test Passed?'.' - ';?>
                    <span class="verification-label"> <?= $verificationLabel;?></span> </span>
                                       <br/>
                <span class="note-list-customer">
                    <?php echo $user['username'];?> <?=$user['firstname'];?>  <?=$user['lastname'];?>
                        </span>
                <div class="note-list-comment"><?= $comment->getComment();?></div>
            </li>
        <?php endforeach;?>
    <?php endif;?>
    </ul>
</div>
<script>
    require(['jquery'], function ($) {

       $('#age_button').on('click',function() {
           ajax();
       });

    function ajax(){

        var verification = $('#is_passed').attr('checked'),
            customer_id= $('#customer_id').val(),
            user_id= $('#user_id').val(),
            comment = $('#age_comment').val();

        $.ajax({
            url: '<?=$block->getUrl('/comment/add');?>',
            type: "POST",
            data: {verification: verification, customer_id: customer_id, user_id: user_id, comment: comment},
            showLoader: true,
            cache: false,

            success: function (data) {

                console.log(data);
                console.log(data.verification);
                var verificationLabel;
                if(data.verification === 0){
                    verificationLabel = "NO";
                }
                if(data.verification === 1){
                    verificationLabel = "YES";
                }
                var liClass = "note-list-item "+verificationLabel.toLowerCase();
                $("#comments ul").append(
                    '<li class="'+ liClass +'">' +
                    '<span class="note-list-date">'
                    + data.created_at + ' | ' +'Age Verification Test Passed?'+ ' - ' +'<span class="verification-label">' + verificationLabel +'</span>'+
                    '</span>' + '<br/>' +
                    '<span class="note-list-customer">'
                    + data.user_name + ' ' + data.full_name +
                    '</span>'+
                    '<div class="note-list-comment">'+data.comment+'</div>'+
                    '</li>');
            }
        });
    }
    });

</script>

