<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="payment-option _collapsible opc-payment-additional giftcards"
     data-bind="mageInit: {'collapsible':{'openedState': '_active','active': 1}}">
    <div class="payment-option-title field choice" data-role="title">
        <span class="action action-toggle" id="block-storecredit-heading" role="heading" aria-level="2">
            <!-- ko i18n: 'Gift Cards'--><!-- /ko -->
        </span>
    </div>
    <div class="payment-option-content" data-role="content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <form class="form giftcards" id="giftcards-form" data-bind="blockLoader: isLoading">
            <div class="payment-option-inner">
                <div class="field">
                    <div>
                        <p class="content">Your Gift Card balance: <strong><!-- ko text: getGiftCardsLimit() --><!-- /ko --></strong></p>
                    </div>
                    <div class="control">
                        <input class="input-text"
                               type="number"
                               id="giftcards"
                               name="giftcards"
                               data-validate="{'required-entry':true}"
                               data-bind="value: giftcardsValue, attr:{placeholder: $t('Enter value')} " />
                    </div>
                </div>
            </div>
            <div class="actions-toolbar">
                <div class="primary">
                    <!-- ko ifnot: isApplied() -->
                    <button class="action action-apply" type="submit" data-bind="'value': $t('Apply'), click: apply">
                        <span><!-- ko i18n: 'Apply'--><!-- /ko --></span>
                    </button>
                    <!-- /ko -->
                    <!-- ko if: isApplied() -->
                    <button class="action action-cancel" type="submit" data-bind="'value': $t('Cancel'), click: cancel">
                        <span><!-- ko i18n: 'Cancel'--><!-- /ko --></span>
                    </button>
                    <!-- /ko -->
                </div>
            </div>
        </form>
    </div>
</div>
