/*
* Information popup
*/
.overlay_information {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.85);
  z-index: 99999;
  overflow: auto;
}
.overlay_information .close {
  margin: 35px auto 0;
  text-decoration: none;
  line-height: 0;
  display: block;
  border-radius: 26px;
  border: 3px solid transparent;
  padding: 5px;
  text-align: center;
}
.overlay_information .close:hover {
  border-color: #fff;
}
.information_box{
  color: #988f86;
}
.information_box h2{
  font-family: Narziss;
  color: #988f86;
  font-size: 19px;
  line-height: 22px;
  margin: 20px 0;
}
.information_box p{
  line-height: 16px;
}
.information_box img{
  width:120px;
}
.information_box h3{
  position: absolute;
  right: 0;
  top: 50%;
  width: 300px;
  transform: translateY(-50%);
  max-height: 100%;
  overflow: hidden;
}
.information_box h3 img{
  width:100%;
}
.close_btn {
  color: #333;
}

.close_btn {
  color: #000;
  position: absolute;
  top:-15px;
  right: -15px;
  padding-right: 0;
  width: 30px;
  opacity: 1;
  height: 30px;
  line-height: 1px;
  padding-left: 1px;
  border: 2px solid #000;
  background: #fff;
  display: inline-block;
  text-align: center;
  border-radius: 20px;
}
.close_btn span{
  font-size: 25px;
  position: relative;
  left: -1px;
}
.close_btn:hover {
  color: #fff;
  background: #000;
  border-color:#fff;
}
.overlay_information .overlay_content_information {
  background: #fff;
  display: inline-block;
  padding: 20px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  max-width: 350px;
  transform: translate(-50%, -50%);
  color: white;
}

.overlay_information .overlay_content_information li {
  position: relative;
}

@media all and (max-width:620px){
  .overlay_information .overlay_content_information{
    padding-right:20px;
  }
  .information_box h3{
    position: relative;
    width:100%;
    transform: none;
  }
}


/*
* Checkout information popup
*/
.overlay_checkout_information {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.85);
  z-index: 99999;
  overflow: auto;
}
.overlay_checkout_information .close {
  margin: 35px auto 0;
  text-decoration: none;
  line-height: 0;
  display: block;
  border-radius: 26px;
  border: 3px solid transparent;
  padding: 5px;
  text-align: center;
}
.overlay_checkout_information .close:hover {
  border-color: #fff;
}
.overlay_checkout_information .information_box h2{
  font-family: Narziss;
  color: #988f86;
  font-size: 19px;
  line-height: 22px;
  margin: 20px 0;
}
.overlay_checkout_information .information_box p{
  color: #988f86;
  line-height: 16px;
}
.overlay_checkout_information .information_box img{
  width:120px;
}
.overlay_checkout_information .information_box h3{
  position: absolute;
  right: 0;
  top: 50%;
  width: 300px;
  transform: translateY(-50%);
  max-height: 100%;
  overflow: hidden;
}
.overlay_checkout_information .information_box h3 img{
  width:100%;
}
.overlay_checkout_information .close_btn {
  color: #333;
}

.overlay_checkout_information .close_btn {
  color: #000;
  position: absolute;
  top:-15px;
  right: -15px;
  padding-right: 0;
  width: 30px;
  opacity: 1;
  height: 30px;
  line-height: 10px;
  padding-left: 1px;
  border: 2px solid #000;
  background: #fff;
  display: inline-block;
  text-align: center;
  border-radius: 20px;
}
.overlay_checkout_information .close_btn span{
  font-size: 25px;
  position: relative;
  left: 0;
}
.overlay_checkout_information .close_btn:hover {
  color: #fff;
  background: #000;
  border-color:#fff;
}
.overlay_checkout_information .overlay_checkout_content_information {
  background: #fff;
  display: inline-block;
  padding: 20px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  max-width: 350px;
  transform: translate(-50%, -50%);
  color: white;
}

.overlay_checkout_information .overlay_checkout_content_information li {
  position: relative;
}

@media all and (max-width:620px){
  .overlay_checkout_information .overlay_checkout_content_information{
    padding-right:20px;
  }
  .information_box h3{
    position: relative;
    width:100%;
    transform: none;
  }
}