<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
    <div class="block block-new-customer">
        <div class="block-new-customer-header">
        <div class="block-title">
            <strong id="block-new-customer-heading" role="heading" aria-level="2"><?= $block->escapeHtml(__('No Account Yet?')) ?></strong>
        </div>
        <div class="block-content" aria-labelledby="block-new-customer-heading">
            <p><?= $block->escapeHtml(__("Didn't entered your email yet?")) ?></p>
            <div class="actions-toolbar">
                <div class="primary">
                    <a id ="action-create-primary" class="action create primary"><span><?= $block->escapeHtml(__('Create an Account')) ?></span></a>
                </div>
            </div>
        </div>
        </div>
        <div class="gsap-code-action" style="display: none">
            <strong id="block-verifying-customer-heading" role="heading" aria-level="2"><?= $block->escapeHtml(__('Verifying Customers')) ?></strong>

            <input type="text" id="gsap_code"/>
            <label for="gsap_code">Please, enter your GSAP code and hit 'Enter'</label>

        </div>
        <div class="gsap-registration-form" style="display: none">
            <p class="gsap-form-header"><strong>Please, verify your personal data.</strong></p>

            <label for="email-registration">Email:</label>
            <input type="text" id="email-registration"/>

            <label for="password">Password:</label>
            <input type="password" id="password"/>

            <label for="password_confirmation">Confirm Password:</label>
            <input type="password" id="password_confirmation"/>

            <label for="service_station_name">Service Station Name:</label>
            <input type="text" id="service_station_name"/>

            <label for="service_station_phone">Service Station Phone:</label>
            <input type="text" id="service_station_phone"/>

            <label for="street">Street:</label>
            <input type="text" id="street"/>

            <label for="district">District:</label>
            <input type="text" id="district"/>

            <label for="city">City:</label>
            <input type="text" id="city"/>

            <label for="region">Region:</label>
            <input type="text" id="region"/>

            <label for="postcode">Postcode:</label>
            <input type="text" id="postcode"/>

            <label for="telephone">Telephone:</label>
            <input type="text" id="telephone"/>

            <input type="hidden" id="customer_id" value=""/>
            <input type="hidden" id="gsap_registration" value=""/>

            <br/>
            <p><a id="verify_account" class="action registration create primary"><span><?= $block->escapeHtml(__('Verify an Account')) ?></span></a></p>

        </div>
    </div>

<script>
    require(['jquery'],function ($) {

        var globalTimeout = null;

        var email = $('#email-registration'),
            password = $('#password'),
            password_confirmation = $('#password_confirmation'),
            ssn = $('#service_station_name'),
            ssph = $('#service_station_phone'),
            street = $('#street'),
            district = $('#district'),
            city = $('#city'),
            region = $('#region'),
            postcode = $('#postcode'),
            phone = $('#telephone'),
            customer_id = $('#customer_id'),
            gsap_registration = $('#gsap_registration');

        $('.gsap-registration-form').hide();

        $('.gsap-code-action').hide();

        $('#action-create-primary').on('click',function () {
            $('.block-new-customer-header').hide('slow');
            $('.gsap-code-action').show('slow');
        });

        $('.gsap-code-action').on('keyup',function () {
            timeOut();
        });

        function timeOut() {
            if (globalTimeout != null) {
                clearTimeout(globalTimeout);
            }
            globalTimeout = setTimeout(function () {
                globalTimeout = null;
                sendGsap();

            }, 1000);
        }
        function sendGsap() {
            var gsap = $("#gsap_code").val();

            $.ajax({

                url: "<?php echo $this->getUrl("gsap/account/result");?>",
                type: "POST",
                data: {gsap: gsap},
                cache: false,

                success: function (data) {
                    //console.log(data);
                    if(data['success']) {
                        $('.gsap-registration-form').show('slow');
                        $('.gsap-code-action').hide('slow');

                        $.each(data, function (i, val) {
                            ssn.val(val.ssn);
                            ssph.val(val.ssph);
                            street.val(val.street);
                            district.val(val.district);
                            city.val(val.city);
                            region.val(val.region);
                            postcode.val(val.postcode);
                            phone.val(val.telephone);
                            customer_id.val(val.customerId);
                            gsap_registration.val(val.gsap);
                        });

                        }else if(data['fail']){
                        $('.gsap-code-action').hide('slow');
                    }

                }
            });
        }

        $('#verify_account').on('click',function () {
            sendRegistration();
        });

        function sendRegistration() {
            $.ajax({
                url: "<?php echo $this->getUrl('gsap/account/registration');?>",
                type: "POST",
                data: {
                    gsap_registration:gsap_registration.val(),
                    email:email.val(),password:password.val(),
                    passwordConfirmation:password_confirmation.val(),
                    ssn:ssn.val(),
                    ssph:ssph.val(),
                    street: street.val(),
                    district: district.val(),
                    city: city.val(),
                    region: region.val(),
                    postcode: postcode.val(),
                    phone: phone.val(),
                    customerId: customer_id.val()},
                showLoader:true,
                cache: false,

                success: function (data) {
                    if(data === "false"){
                    }
                    if(data === 'success'){
                        $('.gsap-registration-form').hide('slow');
                    }
                    if(data === 'fail'){
                        $('.gsap-registration-form').hide('slow');
                        $('.gsap-code-action').show('slow');
                    }
                }
            });
        }

    });
</script>