.document-block{
    margin-top: 20px;
    border: 1px solid #000;
    padding: 20px;
    overflow: hidden;
}

.document-block .document-link{}
.document-block .document-link .title {float: left;}
.document-block .document-link .icon {
    background-image: url("../images/pdficon_small.png");
    background-repeat: no-repeat;
    float: left;
    height: 32px;
    width: 32px;
    padding-right: 20px;
}