.DIdocs-documents-edit .preview-image,
.catalog-product-edit .file-uploader-summary .preview-image,
.catalog-product-edit .file-uploader-summary .action-remove,
.DIdocs-documents-edit .action-remove{display: none}

.DIdocs-documents-edit .file-uploader-preview,
.catalog-product-edit .file-uploader-summary .file-uploader-preview{
    background-image: url("../images/pdf.png");
    background-size: 148px;
    background-repeat: no-repeat;
}