
<?php
$_product = $block->getCurrentProduct();

$currentStore = $block->getStore();


$documents = $block->getSelectedDocs();

$mediaUrl = $currentStore->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA).'tmp/catalog/product';
?>
<?php if($documents){?>
    <?php foreach($documents as $_doc){ ?>
    <div class="document-block">
            <a title="<?php echo $_doc->getDocName()?>" class="document-link" target="_blank" href="<?php echo $mediaUrl.$_doc->getPath()?>">
                <div class="icon"></div>
                <div class="title"><?php echo $_doc->getDocName()?></div>

            </a>
    </div>
    <?php }?>
<?php }?>