<?php $_order = $block->getOrder();?>
<?php
$ageVerification = $block->isCustomerPassedVerification($_order->getCustomerId());
$ageRestrictedProducts = $block->hasOrderRestrictedProducts();
?>

<?php if($ageRestrictedProducts && $ageVerification === "1"):?>
    <div class="age_verification-notify-passed">
        <span class="notify-passed">Customer <strong>PASSED</strong> Age Verification Test.</span>
    </div>
<?php elseif($ageRestrictedProducts && $ageVerification === "0"):?>
    <div class="age_verification-notify-not-passed">
        <span class="notify">Customer <strong>NOT PASSED</strong> Age Verification Test.</span>
    </div>
<?php elseif($ageRestrictedProducts):?>
    <div class="age_verification-notify">
        <span class="notify">This order contain age restricted product(s).</span>
    </div>
<?php endif;?>

