<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile
?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>
<?php
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');


?>
<?php if (!$_productCollection->count()): ?>
    <div class="message info empty">
        <div><?= /* @escapeNotVerified */
            __('We can\'t find products matching the selection.') ?></div>
    </div>
<?php else: ?>
    <?= $block->getToolbarHtml() ?>
    <?= $block->getAdditionalHtml() ?>
    <?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $image = 'category_page_grid';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    } else {
        $viewMode = 'list';
        $image = 'category_page_list';
        $showDescription = true;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
    }
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
    ?>
    <div class="products wrapper <?= /* @escapeNotVerified */
    $viewMode ?> products-<?= /* @escapeNotVerified */
    $viewMode ?>">
        <?php $iterator = 1;
        ?>
        <ol class="products list items product-items">
            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>

            <?php foreach ($_productCollection as $_product): ?>

                <?= /* @escapeNotVerified */
                ($iterator++ == 1) ? '<li class="item product product-item" onclick="">' : '</li><li class="item product product-item" onclick="">' ?>
                <div class="product-item-info" data-container="product-grid">
                    <?php
                    $productId = $_product->getId();
                    $mediaGallery = $_product->getMediaGalleryImages();
                    $images = [];

                    foreach ($mediaGallery->getItems() as $item) {

                        $images[] = $item->getData('url');
                    }

                    $images_1 = $images;
                    $count = count($images) - 1;

                    $first_img = $images[0];
                    if( $count === 0){
                        $img = null;
                    } else {
                        $img = $images[$count];
                    }


                    $productImage = $block->getImage($_product, $image);

                    if ($pos != null) {
                        $position = ' style="left:' . $productImage->getWidth() . 'px;'
                            . 'top:' . $productImage->getHeight() . 'px;"';
                    }

                    ?>
                    <?php // Product Image ?>
                    <a href="<?= /* @escapeNotVerified */
                    $_product->getProductUrl() ?>" class="product photo product-item-photo<?php if( $img != null ) echo ' hovered'?>" tabindex="-1">
                        <?//= $productImage->toHtml();?>
                        <div class="product-image-area">
                            <span class="product-image">
                                <?php echo "<img src = '$first_img' class='defaultImage'>"?>
                                <?php if( $img != null ) echo "<img src = '$img' class='hoverImage'>"?>
                            </span>
                        </div>

                    </a>
                    <div class="product details product-item-details">
                        <?php
                        $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                        ?>
                        <strong class="product name product-item-name">
                            <?php $name = $_helper->productAttribute($_product, $_product->getName(), 'name');
                            $final_name = '';
                            ?>
                            <?php if (strpos($name, ' in ')): ?>
                                <?php $name_paths = explode(' in ', $name); ?>
                                <?php $final_name = $name_paths[0] . '<span>in ' . $name_paths[1] . '</span>'; ?>
                            <?php endif; ?>
                            <a class="product-item-link"
                               href="<?= /* @escapeNotVerified */
                               $_product->getProductUrl() ?>">
                                <?php echo $final_name ? $final_name : $name ?>
                            </a>
                        </strong>
                        <?= $block->getReviewsSummaryHtml($_product, $templateType) ?>

                        <?php $_getSuparsaver = $_product->getResource()->getAttribute('is_super_saver');
                        $supersaverValue = null;
                        if ($_getSuparsaver) {
                            $supersaverValue = $_getSuparsaver->getFrontend()->getValue($_product);

                        }
                        ?>

                        <?php if ($supersaverValue == 'Yes'): ?>
                            <div class="super-saver">
                                <?= /* @escapeNotVerified */
                                $block->getProductPrice($_product) ?>
                            </div>
                        <?php else : ?>

                            <?= /* @escapeNotVerified */
                            $block->getProductPrice($_product) ?>
                        <?php endif ?>

                        <?php if ($showDescription): ?>
                            <div class="product description product-item-description">
                                <?= /* @escapeNotVerified */
                                $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
                                <a href="<?= /* @escapeNotVerified */
                                $_product->getProductUrl() ?>" title="<?= /* @escapeNotVerified */
                                $_productNameStripped ?>"
                                   class="action more"><?= /* @escapeNotVerified */
                                    __('Learn More') ?></a>
                            </div>
                        <?php endif; ?>

                        <?= $block->getProductDetailsHtml($_product) ?>

                        <div class="product-item-inner">
                            <div class="product actions product-item-actions"<?= strpos($pos, $viewMode . '-actions') ? $position : '' ?>>
                                <div class="actions-primary"<?= strpos($pos, $viewMode . '-primary') ? $position : '' ?>>
                                    <?php if ($_product->isSaleable()): ?>
                                        <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                        <form data-role="tocart-form" data-product-sku="<?= /* @NoEscape */
                                        $_product->getSku() ?>" action="<?= /* @NoEscape */
                                        $postParams['action'] ?>" method="post">
                                            <input type="hidden" name="product" value="<?= /* @escapeNotVerified */
                                            $postParams['data']['product'] ?>">
                                            <input type="hidden" name="<?= /* @escapeNotVerified */
                                            Action::PARAM_NAME_URL_ENCODED ?>" value="<?= /* @escapeNotVerified */
                                            $postParams['data'][Action::PARAM_NAME_URL_ENCODED] ?>">
                                            <?= $block->getBlockHtml('formkey') ?>
                                            <button type="submit"
                                                    title="<?= $block->escapeHtml(__('Add to Cart')) ?>"
                                                    class="action tocart primary">
                                                <span><?= /* @escapeNotVerified */
                                                    __('Add to Cart') ?></span>
                                            </button>
                                        </form>
                                    <?php else: ?>
                                        <?php if ($_product->isAvailable()): ?>
                                            <div class="stock available"><span><?= /* @escapeNotVerified */
                                                    __('In stock') ?></span></div>
                                        <?php else: ?>
                                            <div class="stock unavailable"><span><?= /* @escapeNotVerified */
                                                    __('Out of stock') ?></span></div>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                </div>
                                <div data-role="add-to-links"
                                     class="actions-secondary"<?= strpos($pos, $viewMode . '-secondary') ? $position : '' ?>>
                                    <?php if ($addToBlock = $block->getChildBlock('addto')): ?>
                                        <?= $addToBlock->setProduct($_product)->getChildHtml() ?>
                                    <?php endif; ?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <?= ($iterator == count($_productCollection) + 1) ? '</li>' : '' ?>

                <?php
                ?>

            <?php endforeach;?>
        </ol>
        <?php echo $block->getToolbarHtml() ?>
    </div>

    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {
                    "product_sku": "<?= /* @NoEscape */
            $_product->getSku() ?>"
                }
            }
        }

        </script>
    <?php endif; ?>
<?php endif; ?>