
div.page-columns .data-grid td { background-color: transparent !important; }
.sales-order-status-edit, .sales-order-status-new{
  .admin__field-control.control{
    #color{
      width: 80px;
      margin: 0;
      padding: 0;
      border: none;
      height: 32px;
    }
  }
}