<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
$return_locations = $this->helper('DI\Locations\Helper\Data')->getLocations();
//$return_locations = array_unshift($locations , ['NULL'=>'Please select your location']);

?>
<?php /** @var $block \Magento\Sales\Block\Adminhtml\Items\Renderer\DefaultRenderer */ ?>
<?php $_item = $block->getItem();?>
<?php $block->setPriceDataObject($_item); ?>
<tr>
    <td class="col-product"><?= $block->getColumnHtml($_item, 'name') ?></td>
    <td class="col-price">
        <?= $block->getColumnHtml($_item, 'price') ?>
    </td>
    <td class="col-ordered-qty"><?= $block->getColumnHtml($_item, 'qty') ?></td>
    <?php if ($block->canParentReturnToStock($_item)) : ?>
        <td class="col-return-to-stock">
            <?php if ($block->canReturnItemToStock($_item)) : ?>
                <input type="checkbox"
                       class="admin__control-checkbox"
                       name="creditmemo[items][<?= /* @escapeNotVerified */ $_item->getOrderItemId() ?>][back_to_stock]"
                       value="1"<?php if ($_item->getBackToStock()):?> checked<?php endif;?>/>
                <label class="admin__field-label"></label>
            <?php endif; ?>
        </td>
    <?php endif; ?>
    <td class="col-refund col-qty">
        <?php if ($block->canEditQty()) : ?>
            <input type="text"
                   class="input-text admin__control-text qty-input"
                   name="creditmemo[items][<?= /* @escapeNotVerified */ $_item->getOrderItemId() ?>][qty]"
                   value="<?= /* @escapeNotVerified */ $_item->getQty()*1 ?>"/>
        <?php else : ?>
            <?= /* @escapeNotVerified */ $_item->getQty()*1 ?>
        <?php endif; ?>
    </td>
    <td class="col-subtotal">
        <?= $block->getColumnHtml($_item, 'subtotal') ?>
    </td>
    <td class="col-tax-amount"><?= /* @escapeNotVerified */ $block->displayPriceAttribute('tax_amount') ?></td>
    <td class="col-discont"><?= /* @escapeNotVerified */ $block->displayPriceAttribute('discount_amount') ?></td>
    <td class="col-total last">
        <?= $block->getColumnHtml($_item, 'total') ?>
    </td>

    <td class="col-return-location">
        <select class="admin__control-select" name="creditmemo[items][<?= /* @escapeNotVerified */ $_item->getOrderItemId() ?>][return_location]">
            <option value="NULL">Please select your location</option>
            <option value="200">200</option>
            <option value="400">400</option>
<!--            --><?php //foreach ($return_locations as $location):?>
<!--                <option value="--><?php //echo $location['id'];?><!--">--><?php //echo $location['name']?><!--</option>-->
<!--            --><?//endforeach;?>
        </select>
    </td>
</tr>
