<?php $sds = $block->getSDS();?>
<div>
    <p>
        All Weiman Safety Data Sheets comply with OSHA's Hazard Communication Standard (29CFR 1910.1200)
    </p>
</div>

<div class = 'sds'>
<?php foreach ($sds as $catName => $sheets){?>

     <ul><?php echo $catName;?>
         <?php foreach ($sheets as $sheet): ?>

             <li><a href="<?=$sheet['file_path'];?>" download target="_blank"><?php echo $sheet['name'];?></a></li>
         <?php endforeach; ?>
     </ul>

<?php } ?>
</div>