<?php if (!$block->isCloseInformation() && $block->getCustomerLoyalty()): ?>
<div class="overlay_information">
    <div class="overlay_content_information">
        <form name="form-select-store" id="form-select-store" action="<?php echo $block->getLoyaltyApplyAction() ?>" method="post" enctype="multipart/form-data">
           <div class="information_box">
               <?php
               echo $this->getLayout()
                   ->createBlock('Magento\Cms\Block\Block')
                   ->setBlockId('gift_card_popup')
                   ->toHtml(); ?>
               <p>You have Gift Card!</p>
               <button title="Apply"  class="apply">Apply</button>
           </div>
            <button title="Close" type="button" class="close_btn"  id="www"><span>×</span></button>
        </form>
    </div>
</div>
    <script>
        require(['jquery'], function ($) {
            $(function () {
                $(document).ready(function () {

                    setTimeout(function(){
                        $('.overlay_information').fadeIn();
                    }, 2000);
                })
            });
        });
    </script>
<?php endif; ?>

