
<div class="overlay_checkout_information">
    <div class="overlay_checkout_content_information">
        <form name="form-select-store" id="form-select-store" action="<?php echo $block->getRegisterUrl() ?>" method="post" enctype="multipart/form-data">
           <div class="information_box">
               <?php
               echo $this->getLayout()
                   ->createBlock('Magento\Cms\Block\Block')
                   ->setBlockId('loyalty_found_lightbox')
                   ->toHtml(); ?>
               <button title="Apply"  class="apply">Register</button>
               <button title="Skip"  class="skip_btn">Skip</button>
           </div>
            <button title="Close" type="button" class="close_btn"  id="www"><span>×</span></button>
        </form>
    </div>
</div>



