body{
    background: #ffffff;
}
.attach_box:after{
    content: '';
    position: relative;
    top: 2px;
    display: inline-block;
    margin-left: 5px;
    width: 14px;
    height: 14px;
    background: url("../images/calculator.png");
}
.attach_box:hover:after{
    opacity: .8;
}
.attach_box, .hide_box, .calculate-price-ajax, u.atrr-price{
    cursor: pointer;
}
.order-details{
    display: flex;
    flex-direction: column;
}
.order-details .order-summary{
    order: 8;
}
.order-details #order-methods{
    order: 7;
}
.order-details #order-additional_area{
    order: 6;
}
.order-details #order-errors{
    order: 5;
}
.order-details #order-search{
    order: 4;
}
.order-details #order-items{
    order: 3;
}
.order-details #order-form_account{
    order: 2;
}
.calculate-price{
    width: 180px;
    padding: 10px;
    position: absolute;
    top: 50px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(204, 204, 204);
    z-index: 2;
}
.hide_box{
    float: right;
    color: #000;
    font-size: 16px;
    position: relative;
    top: -5px;
}
.hide_box:hover{
    text-decoration: none;
}
.calculate-price label{
    display: flex;
    align-items: center;
}
.calculate-price p{
    margin: 0;
}
.calculate-price label input{
    max-width: 40px;
    margin: 0 5px;
}
.calculate-price .input-delimiter{
    position: relative;
    display: block;
    margin: 10px 0px 5px;
    text-align: center;
    text-transform: uppercase;
}
.input-delimiter b{
    background: #fff;
    position: relative;
    padding: 5px;
}
.input-delimiter:before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 7px;
    border-bottom: 1px solid #ccc;
}
.calculate-price-ajax{
    display: block;
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    background-color: #514943;
    border-color: #514943;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.calculate-price-ajax:hover{
    background-color: #35302c;
    border-color: #35302c;
    color: #fff;
    box-shadow: 0 0 0 1px #007bdb;
    text-decoration: none;
}

td.attr-prices {
    background: #f8f8f8;
    position: relative;
    padding:10px 15px;
    text-align: center;
    order: 1;
    white-space: nowrap;
}
td.attr-prices li,
div.attr-prices li {
    list-style-type: none;
    display: block;
    width:100%;
    white-space: nowrap;
    margin-bottom:3px;
    font-size: 12px;
    color: #747474;
}
div.custom_price_container{
    display: flex;
}

div.admin__field field field-gift-card
{
    display: flex;
}

div.custom_price_container{
    display: flex;
}

div.custom_price_container input{
    max-width: 100px;
}


div.gift-card-value input{
    max-width: 100px;
}
ul.attr-prices{
    display: flex;
    flex-wrap: wrap;
}
ul.attr-prices input, ul.attr-prices .price{
    margin-right: 5px;
}
ul.attr-prices .attr-option-price{
    color: #787169;
}
div.attr-prices li {
    white-space: normal;
}
.attr-prices.hide {
    color: transparent;
    order: 2;
}
td.attr-prices.hide:after {
    display: none;
}

td.attr-prices:after,
div.attr-prices:after {
    display: block;
    height: 50%;
    width: 1px;
    background: #bdbcbc;
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
 }
td.attr-prices:last-child:after,
div.attr-prices:nth-of-type(9):after,
div.attr-prices:last-child:after{
    display: none;
}

td.attr-prices  span,
div.attr-prices  span {
    font-weight:400;
    margin:0 0 0 2px !important;
    display: inline-block;
    vertical-align: top;
}
td.attr-prices  input,
div.attr-prices  input{
    position: relative;
    top: 2px;
}
#order-items_grid tfoot {
    position: relative;
}
#order-items_grid tfoot:before {
    position: relative;
    height:20px;
    background: #fff;
    content: '';
    width:100%;
    display: block;
}
#order-items_grid .message-error {
    margin-top:20px;
}
.add_po_title {
    color: #303030;
    font-weight:700;
    font-size: 1.3rem;
}
div.attr-prices {
    display: inline-block;
    vertical-align: top;
    width: calc(100%/9);
    position: relative;
    font-size: 14px;
    text-align: center;
    white-space: normal;
    position: relative;
    vertical-align: middle;
    min-width: 100px;
    padding: 0 5px;
}
td.attr-prices-cell {
    font-size: 0;
    white-space: nowrap;
    background: #f8f8f8;
    position: relative;
    padding:10px 15px;
    text-align: left;
    order: 1;
    position: relative;
}
td.attr-prices-cell-1 div.attr-prices,
td.attr-prices-cell-2 div.attr-prices,
td.attr-prices-cell-3 div.attr-prices,
td.attr-prices-cell-4 div.attr-prices{
    min-width: 200px;
}

td.attr-prices-cell-5 div.attr-prices {
    width: calc(100%/5);
}
td.attr-prices-cell-6 div.attr-prices {
    width: calc(100%/6);
}
td.attr-prices-cell-7 div.attr-prices {
    width: calc(100%/7);
}
td.attr-prices-cell-8 div.attr-prices {
    width: calc(100%/8);
}
td.attr-prices-cell-9 div.attr-prices {
    width: calc(100%/9);
}

.gift-card-balance p{
    margin-top: 10px;
    font-weight:bold;
}
.gift-card-value{
    margin-top: 10px;
}
.gift-card-message{
    margin-top: 20px;
}
.gift-card-message p{
    display: block;
    margin: 0;
    padding: 15px;
    /*margin-top: 20px;*/
    font-family: "Arial", sans-serif;
    font-size: 16px;
    font-weight: 700;
}
.gift-card-message p.error {
    background: rgba(255, 0, 0, 0.36);
    border-left:4px solid red;
}
.gift-card-message p.success {
    background: rgba(50, 205, 50, 0.36);
    border-left:4px solid limegreen;
}
.field-validation_status{
    display: none;
}

