.note-list-item:last-child.yes{
    background: rgba(11, 220, 38, 0.3);
}
.note-list-item:last-child.no{
    background: rgba(195, 32, 34, 0.3);
}
#comments .note-list .note-list-item{
    padding-left: 15px;
}
.verification-label{
    color: #ff0000;
}
.note-list{
    display: flex;
    flex-direction: column-reverse;
}
.age_verification-notify-passed {
    background: rgba(125, 255, 49, 0.48);
    padding: 15px;
    border-left:4px solid green;
}
.age_verification-notify-not-passed {
    background: rgba(255, 40, 33, 0.44);
    padding: 15px;
    border-left:4px solid red;
}
.age_verification-notify{
    background: rgba(255, 209, 81, 0.44);
    padding: 15px;
    border-left:4px solid orange;
}
