<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
/** @var \Magento\Review\Block\Customer\ListCustomer $block */
?>


<form class="gift_card_form" method="post" enctype="multipart/form-data" action="<?php echo $block->getApplyGiftCardAction() ?>" >
    <input type="text" name="gift_card_code" placeholder="Enter Gift Card Code" value=""/>
    <p></p>
    <button class="action primary">REDEEM</button>
</form>

