<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
?>
<?php
/**
 * @var $block \Magento\Sales\Block\Adminhtml\Order\Create\Items\Grid
 */
?>

<?php $_items = $block->getItems();

$locations = $block->getLocations();

$attrValues = [];
$gross_profit = $this->helper('DI\CounterPoint\Helper\Data');
?>
<?php if (empty($_items)): ?>
    <div id="order-items_grid">
        <div class="admin__table-wrapper">
            <table class="data-table admin__table-primary order-tables">
                <thead>
                <tr class="headings">
                    <th class="col-product"><span><?= /* @escapeNotVerified */
                            __('Product') ?></span></th>
                    <th class="col-price"><span><?= /* @escapeNotVerified */
                            __('Price') ?></span></th>
                    <th class="col-alt-pricing"><span><?= /* @escapeNotVerified */
                            __('Alt. Pricing Options') ?></span></th>
                    <th class="col-qty"><span><?= /* @escapeNotVerified */
                            __('Qty') ?></span></th>
                    <th class="col-qty-location"><span><?= /* @escapeNotVerified */
                            __('Qty by Location') ?></span></th>
                    <th class="col-subtotal"><span><?= /* @escapeNotVerified */
                            __('Subtotal') ?></span></th>
                    <th class="col-discount"><span><?= /* @escapeNotVerified */
                            __('Discount') ?></span></th>
                    <th class="col-row-total"><span><?= /* @escapeNotVerified */
                            __('Row Subtotal') ?></span></th>
                    <th class="col-gross-profit"><span><?= /* @escapeNotVerified */
                            __('GP') ?></span></th>
                    <th class="col-action"><span><?= /* @escapeNotVerified */
                            __('Action') ?></span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr class="even">
                    <td class="empty-text" colspan="100"><?= /* @escapeNotVerified */
                        __('No ordered items') ?></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
<?php else: ?>
    <div class="admin__table-wrapper" id="order-items_grid">
        <?php if (count($_items) > 10): ?>
            <div class="actions update actions-update">
                <?= $block->getButtonHtml(__('Update Items and Quantities'), 'order.itemsUpdate()', 'action-secondary') ?>
            </div>
        <?php endif; ?>
        <table class="data-table admin__table-primary order-tables">
            <thead>
            <tr class="headings">
                <th class="col-product"><span><?= /* @escapeNotVerified */
                        __('Product') ?></span></th>
                <th class="col-price"><span><?= /* @escapeNotVerified */
                        __('Price') ?></span></th>
                <th class="col-alt-pricing"><span><?= /* @escapeNotVerified */
                        __('Alt. Pricing Options') ?></span></th>
                <th class="col-qty"><span><?= /* @escapeNotVerified */
                        __('Qty') ?></span></th>
                <th class="col-qty-location"><span><?= /* @escapeNotVerified */
                        __('Qty by Location') ?></span></th>
                <th class="col-subtotal"><span><?= /* @escapeNotVerified */
                        __('Subtotal') ?></span></th>
                <th class="col-discount"><span><?= /* @escapeNotVerified */
                        __('Discount') ?></span></th>
                <th class="col-row-total"><span><?= /* @escapeNotVerified */
                        __('Row Subtotal') ?></span></th>
                <th class="col-gross-profit"><span><?= /* @escapeNotVerified */
                        __('GP') ?></span></th>
                <th class="col-action"><span><?= /* @escapeNotVerified */
                        __('Action') ?></span></th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <td class="col-total"><?= /* @escapeNotVerified */
                    __('Total %1 product(s)', count($_items)) ?></td>
                <td colspan="4" class="col-subtotal"><?= /* @escapeNotVerified */
                    __('Subtotal:') ?></td>
                <td class="col-price"><strong><?= /* @escapeNotVerified */
                        $block->formatPrice($block->getSubtotal()) ?></strong></td>
                <td class="col-price"><strong><?= /* @escapeNotVerified */
                        $block->formatPrice($block->getDiscountAmount()) ?></strong></td>
                <td class="col-price"><strong>
                        <?php /* @escapeNotVerified */
                        echo $block->formatPrice($block->getSubtotalWithDiscount());
                        ?></strong></td>
                <td colspan="3">&nbsp;</td>
            </tr>
            </tfoot>
            <?php $i = 0 ?>
            <?php foreach ($_items as $_item):$i++;
                    $product = $block->getProductById($_item->getProduct()->getId());

                ?>
                <tbody class="<?= /* @escapeNotVerified */
                ($i % 2) ? 'even' : 'odd' ?>">
                <tr>
                    <td class="col-product">
                        <span id="order_item_<?= /* @escapeNotVerified */
                        $_item->getId() ?>_title"
                              style="display: inline-block; max-width: 230px;"><?= $block->escapeHtml($_item->getName()) ?></span>
                        <div class="product-sku-block">
                            <span><?= /* @escapeNotVerified */
                                __('SKU') ?>:</span>
                            <?= implode('<br />', $this->helper('Magento\Catalog\Helper\Data')->splitSku($block->escapeHtml($_item->getSku()))) ?>
                        </div>
                        <div class="product-configure-block">
                            <?= $block->getConfigureButtonHtml($_item) ?>
                        </div>
                    </td>
                    <td class="col-price">
                        <?php if ($_item->getProduct() != null): ?>
                            <?php
                            $cost = $product->getData('cost');
                            if($_item->getProductType() == 'bundle'){
                                $cost = $gross_profit->getBundleCost($product);
                                $price = $gross_profit->getBundlePrice($product);
                            }
                            ?>
                            <p class="col-item-cost"><span
                                        class="cost-prefix">Cost: </span><?= $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($cost, true, false); ?>
                            </p>
                        <?php endif; ?>
                        <?php $_isCustomPrice = $block->usedCustomPriceForItem($_item) ?>
                        <?php if ($_tier = $block->getTierHtml($_item)): ?>
                            <div id="item_tier_block_<?= /* @escapeNotVerified */
                            $_item->getId() ?>"<?php if ($_isCustomPrice): ?> style="display:none"<?php endif; ?>>
                                <a href="#" onclick="$('item_tier_<?= /* @escapeNotVerified */
                                $_item->getId() ?>').toggle();return false;"><?= /* @escapeNotVerified */
                                    __('Tier Pricing') ?></a>
                                <div style="display:none" id="item_tier_<?= /* @escapeNotVerified */
                                $_item->getId() ?>"><?= /* @escapeNotVerified */
                                    $_tier ?></div>
                            </div>
                        <?php endif; ?>


                        <?php if($_item->getProductType() !== 'bundle'):?>
                        <label
                                class="normal admin__field-label"
                                for="item_use_custom_price_<?= /* @escapeNotVerified */
                                $_item->getId() ?>">
                                                                <span><?= /* @escapeNotVerified */
                                                                    __('Custom Price') ?>*</span></label>
                        <div class="custom_price_container"> <input id="item_custom_price_<?= /* @escapeNotVerified */
                            $_item->getId() ?>"
                                     name="item[<?= /* @escapeNotVerified */
                                     $_item->getId() ?>][custom_price]"
                                     value="<?= /* @escapeNotVerified */
                                     sprintf("%.2f", $block->getOriginalEditablePrice($_item)) ?>"
                                     data-value-id="<?= /* @escapeNotVerified */
                                     $_item->getId() ?>"
                                     class="input-text item-price admin__control-text"
                                     />


                            <button class="action-default scalable action-secondary"
                                    type="button"
                                    id="apply_custom_price"
                                    title="Apply"
                                    onclick="applyCustomPrice()">
                                <span>Apply</span>
                            </button>
                        </div>
                        <?php endif;?>

                    </td>
                    <td class="col-alt-pricing atrr_item_<?= $_item->getId(); ?>">

                        <?php $product_attributes = [
                            'map_price',
                            'price',
                            'third_party_price',
                        ];

                        if($_item->getProductType() == 'bundle') {
                            $product_attributes = [
                                'map_sum'
                            ];
                        }

                        $product_attributes_to_show = [];
                        ?>

                        <?php if($_item->getProductType() !== 'bundle'):?>
                        <div class="attr-prices-cell attr-prices-cell"
                             style="max-width: 160px;">

                            <?php foreach ($product_attributes as $_attr) :?>
                                    <ul class="attr-prices">
                                        <li class="attr-option-price"
                                            style="list-style-type:none; order: 1;"
                                            data-value="<?= $_attr; ?>"
                                            data-value-id="<?= $_item->getId(); ?>">
                                            <?php if ($_attr == 'msrp') {
                                                echo "MSRP";
                                            } else {
                                                echo $product->getResource()->getAttribute($_attr)->getFrontend()->getLabel($product);
                                            } ?>
                                        </li>
                                        <input type="radio" class="radioButton" data-value="<?= $_attr; ?>"
                                               data-value-id="<?= $_item->getId(); ?>">
                                        <div class="price_<?= $_item->getId(); ?>"><?= $block->formatPrice($product->getData($_attr)); ?></div>
                                    </ul>
                            <?php endforeach; ?>
                        </div>
                        <?php endif; ?>
                    </td>
                    <td class="col-qty">
                        <input name="item[<?= /* @escapeNotVerified */
                        $_item->getId() ?>][qty]"
                               class="input-text item-qty admin__control-text"
                               value="<?= /* @escapeNotVerified */
                               $_item->getQty() * 1 ?>"
                               maxlength="12"/>
                    </td>
                    <td class="col-qty-location">
                <?php if($_item->getProductType() !== 'bundle'):?>
                        <?php
                        if(!array_key_exists($_item->getProduct()->getSku(), $locations)):
                            ;?>
                            <?= 'Location 200: '.'<b>'.$_item->getProduct()->getQty().'</b>';?>
                        <?else:?>

                        <?php foreach ($locations[$_item->getProduct()->getSku()] as $location):?>
                            <?php if($location['qty']): ;?>
                            <?= 'Location '.$location['name'].': '.'<b>'.$location['qty'].'</b>'.PHP_EOL;?>

                                <?endif;?>

                            <?php endforeach;?>

<!--                        --><?//else:?>

<!--                            --><?php //foreach ($_item->getOptions() as $option):
//                                if($option->getProduct()->getTypeInstance() !== 'bundle' || $option->getProduct()->getTypeInstance() !== 'configurable'){
//                                continue;
//                                }
//                                ?>
<!---->
<!---->
<!--                                --><?php //foreach ($locations[$option->getProduct()->getSku()] as $location):?>
<!---->
<!--                                    --><?//= 'Location '.$location['name'].': '.'<b>'.$location['qty'].'</b>'.PHP_EOL;?>
<!---->
<!--                                --><?php //endforeach;?>
<!--                            --><?php //endforeach;?>

                        <?endif;?>
                <?endif;?>


                        <!--                        <div class="qty-attributes">-->
<!--                            -->
<!--//-->
<!--//                            if ($_item->getProduct()->getData('qty_on_hand')) {-->
<!--//                                echo round($_item->getProduct()->getData('qty_on_hand'), 2) . " - QOH" . "<br/>";-->
<!--//                            }-->
<!--//                            if ($_item->getProduct()->getData('qty_on_purchaseorder')) {-->
<!--//                                echo round($_item->getProduct()->getData('qty_on_purchaseorder'), 2) . " - QPO" . "<br/>";-->
<!--//                            }-->
<!--//                            if ($_item->getProduct()->getData('qty_on_backorder')) {-->
<!--//                                echo round($_item->getProduct()->getData('qty_on_backorder'), 2) . " - QBO" . "<br/>";-->
<!--//                            }-->
<!--//-->
<!--                        </div>-->
                    </td>
                    <td class="col-subtotal col-price">

                        <?= $block->getItemRowTotalHtml($_item); ?>
                    </td>
                    <td class="col-discount col-price">
                        <?= /* @escapeNotVerified */
                        $block->formatPrice($_item->getTotalDiscountAmount()) ?>
                        <div class="discount-price-block">
                            <input id="item_use_discount_<?= /* @escapeNotVerified */
                            $_item->getId() ?>"
                                   class="admin__control-checkbox"
                                   name="item[<?= /* @escapeNotVerified */
                                   $_item->getId() ?>][use_discount]"
                                   <?php if (!$_item->getNoDiscount()): ?>checked="checked"<?php endif; ?>
                                   value="1"
                                   type="checkbox"/>
                            <label
                                    for="item_use_discount_<?= /* @escapeNotVerified */
                                    $_item->getId() ?>"
                                    class="normal admin__field-label">
                                <span><?= /* @escapeNotVerified */
                                    __('Apply') ?></span></label>
                        </div>

                    </td>
                    <td class="col-price col-row-subtotal">
                        <span id="row-subtotal"><?= $block->getItemRowTotalWithDiscountHtml($_item); ?></span>

                        <!--                        --><? //= $_item->getData('row_total');?>
                        <p><a id="attach_box" class="attach_box">Calculator</a></p>

                        <div class="calculate-price">
                            <p><a id="hide_box" class="hide_box">&#10006;</a></p>
                            <div id="calculate_price_form_<?= $_item->getId(); ?>">
                                <label><p class="col-price-calculate prefix">Take</p>
                                    <input type="text" value="" class="custom_price_off_<?= $_item->getId(); ?>">%
                                    Off</label>
                                <p class="input-delimiter"><b>Or</b></p>
                                <label><p class="col-price-calculate prefix">Gross Profit Of </p>
                                    <input type="text" value=""
                                           class="gross_profit_off_<?= $_item->getId(); ?>">%</label>
                                <p><a class="calculate-price-ajax">Calculate Price</a></p>
                                <input class="calculate_item_id" type="hidden" value="<?= /* @escapeNotVerified */
                                $_item->getId(); ?>">
                                <!--                                <p><input type="submit" />Calculate</p>-->
                            </div>
                        </div>
                    </td>
                    <?php if ($_item->getProduct() != null): ?>
                        <td id="col-gross-profit-percent">
<!--                            --><?php
                            $cost = $product->getData('cost');
                            $price = $_item->getPrice();
                            if($_item->getProductType() == 'bundle'){
                                $cost = $gross_profit->getBundleCost($product);
                                $price = $gross_profit->getBundlePrice($product);
                                    if ($product->getSpecialPrice()) {
                                        if( $product->getData('special_to_date') >= date('Y-m-d') || !$product->getData('special_to_date') ) {
                                            $price =  $price * ($product->getSpecialPrice() / 100);
                                        }
                                    }
                                }
                            ?>
                            <?php
                            if($_item->getGrossProfitPercent() == null){
                                $_item->setData('gross_profit_percent', $gross_profit->calculateGrossProfit($cost, $price));
                            }
//                              ?>
                            <?php if(!$_item->getParentItem()): ?>
                            <?= $_item->getGrossProfitPercent()."%"; ?>
                                <?php else:?>
                            <?= $_item->getParentItem()->getGrossProfitPercent()."%"; ?>
                            <?php endif;?>

                        </td>
                    <?php endif; ?>
                    <td class="col-actions last">
                        <select class="admin__control-select" name="item[<?= /* @escapeNotVerified */
                        $_item->getId() ?>][action]">
                            <option value=""><?= /* @escapeNotVerified */
                                __('Please select') ?></option>
                            <option value="remove"><?= /* @escapeNotVerified */
                                __('Remove') ?></option>
                            <?php if ($block->getCustomerId() && $block->getMoveToCustomerStorage()): ?>
                                <option value="cart"><?= /* @escapeNotVerified */
                                    __('Move to Shopping Cart') ?></option>
                                <?php if ($block->isMoveToWishlistAllowed($_item)): ?>
                                    <?php $wishlists = $block->getCustomerWishlists(); ?>
                                    <?php if (count($wishlists) <= 1): ?>
                                        <option value="wishlist"><?= /* @escapeNotVerified */
                                            __('Move to Wish List') ?></option>
                                    <?php else: ?>
                                        <optgroup label="<?= /* @escapeNotVerified */
                                        __('Move to Wish List') ?>">
                                            <?php foreach ($wishlists as $wishlist): ?>
                                                <option value="wishlist_<?= /* @escapeNotVerified */
                                                $wishlist->getId() ?>"><?= $block->escapeHtml($wishlist->getName()) ?></option>
                                            <?php endforeach; ?>
                                        </optgroup>
                                    <?php endif; ?>
                                <?php endif; ?>
                            <?php endif; ?>
                        </select>
                    </td>
                </tr>

<!--                --><?php //if ($_item->getProduct()->getTypeInstance() === 'simple'):?>
                <?php $hasMessageError = false; ?>
                <?php foreach ($_item->getMessage(false) as $messageError): ?>
                    <?php if (!empty($messageError)) {
                        $hasMessageError = true;
                    }
                    ?>
                <?php endforeach; ?>

                <?php if ($hasMessageError): ?>
                    <tr class="row-messages-error">
                        <td colspan="100" style="padding-right: 0"> <!-- ToDo UI: remove the 100 -->
                            <?php foreach ($_item->getMessage(false) as $message):
                                if (empty($message)) {
                                    continue;
                                }
                                ?>
                                <div class="message <?php if($_item->getHasError()): ?>message-error<?php else: ?>message-notice<?php endif; ?>">
                                    <?= $block->escapeHtml($message) ?>
                                </div>
                            <?php endforeach; ?>
                        </td>
                    </tr>
                <?php endif; ?>
<!--                --><?php //endif; ?>

                <?= $block->getItemExtraInfo($_item)->toHtml() ?>

                </tbody>
            <?php endforeach; ?>
        </table>
        <p>
            <small><?= /* @escapeNotVerified */
                $block->getInclExclTaxMessage() ?></small>
        </p>
    </div>

    <div class="order-discounts">
        <?= $block->getButtonHtml(__('Update Items and Quantities'), 'order.itemsUpdate()', 'action-secondary') ?>
        <div id="order-coupons" class="order-coupons"><?= $block->getChildHtml() ?></div>
    </div>

    <script>
        require([
            'Magento_Sales/order/create/form'
        ], function () {
            order.itemsOnchangeBind()
        });
    </script>

    <?php if ($block->isGiftMessagesAvailable()) : ?>
        <script>
            require([
                "prototype",
                "Magento_Sales/order/giftoptions_tooltip"
            ], function () {

                /**
                 * Retrieve gift options tooltip content
                 */
                function getGiftOptionsTooltipContent(itemId) {
                    var contentLines = [];
                    var headerLine = null;
                    var contentLine = null;

                    $$('#gift_options_data_' + itemId + ' .gift-options-tooltip-content').each(function (element) {
                        if (element.down(0)) {
                            headerLine = element.down(0).innerHTML;
                            contentLine = element.down(0).next().innerHTML;
                            if (contentLine.length > 30) {
                                contentLine = contentLine.slice(0, 30) + '...';
                            }
                            contentLines.push(headerLine + ' ' + contentLine);
                        }
                    });
                    return contentLines.join('<br/>');
                }

                giftOptionsTooltip.setTooltipContentLoaderFunction(getGiftOptionsTooltipContent);

                window.getGiftOptionsTooltipContent = getGiftOptionsTooltipContent;

//]]>

            });
        </script>
    <?php endif; ?>

<?php endif; ?>

<script type="text/javascript">

    require(['jquery'], function ($) {

        var url = "<?= $this->getUrl('counterpoint/grossprofit/');?>";

        $('.calculate-price').hide();

        $('.attach_box').on('click', function () {
            $(this).parents('.col-row-subtotal').css('position', 'relative').find('.calculate-price').show();
        });

        $('.hide_box').on('click', function () {
            $(this).parents('.col-row-subtotal').find('.calculate-price').hide();
        });

        $('.cost-prefix').css("color", "red");



        $(".calculate-price-ajax").on('click', function () {
            var item_id = $(this).parents('.calculate-price').find('.calculate_item_id').val();

            var gp = $(this).parents('.col-row-subtotal').find(".gross_profit_off_" + item_id).val();

            var custompriceOf = $(this).parents('.col-row-subtotal').find(".custom_price_off_" + item_id).val();

            $.ajax({

                url: url,
                type: "POST",
                data: {id: item_id, gp: gp, custompriceOf: custompriceOf},
                showLoader: true,
                cache: false,

                success: function (data) {
                    if (data.price != null) {

                        localStorage.removeItem('storage');
                        $('#item_custom_price_' + item_id).val(data.price);

                        $('.order-discounts button').click();

                    }
                }
            });
        });


        var storage = {};

        if (JSON.parse(localStorage.getItem('storage'))) {
           storage = JSON.parse(localStorage.getItem('storage'))
        }

        for (var key in storage) {
            $('.atrr_item_' + key).find('li[data-value=' + storage[key] + ']').next().attr('checked', true);
        }


        $('.radioButton').click(function () {

            var attrType = $(this).parents('.attr-prices').find('.attr-option-price').attr('data-value'),
                attrId = $(this).parents('.attr-prices').find('.attr-option-price').attr('data-value-id'),
                radioButtons = $('.radioButton[checked]'),
                buttonsLength = radioButtons.length;

            var text = attrId +' = '+attrType;
            var dict = {};
            var keyValuePair = text.replace(/ /g,'').split('=');
            dict[ keyValuePair[0] ] = keyValuePair[1];
            storage[attrId] = attrType;

            var dataStorage = JSON.stringify(dict);


            var dataItems = {};

            $.ajax({

                url: url,
                type: "POST",
                data: {attrType: attrType, id: attrId},
                showLoader: true,
                cache: false,

                success: function (data) {

                    $('#item_custom_price_' + attrId).val(data.price);
                    localStorage.setItem('storage', dataStorage);
                    $('.order-discounts button').click();

                }
            });
        });
    });


</script>
<script> var url = '<?//= $this->getUrl('counterpoint/customprice/');?>//';
    function applyCustomPrice() {
      require(['jquery'], function ($) {
          localStorage.removeItem('storage');
          setTimeout(function() {
              $('.order-discounts button').click();
          }, 700);
       });

   }

</script>