<?php

/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

$path = $this->getUrl('admin_gift_cards/giftcards/giftcards');


$session = $block->getSessionQuote()->getData();
$giftCardNumber = $session["gift_card_number"];
$giftCardValue = $session["gift_card_value"];
if($session["gift_card_success"]);
    $giftCardSuccess = $session["gift_card_success"];
?>

<div class="admin__page-section-title <?= /* @escapeNotVerified */
$block->getHeaderCssClass() ?>">
    <span class="title"><?= /* @escapeNotVerified */
        $block->getHeaderText() ?></span>
    <div class="actions"></div>
</div>
<div id="customer_account_fieds" class="admin__page-section-content">
    <?= $block->getForm()->getHtml() ?>
<br>

</div>

<div class="admin__field field field-gift-card">
    <label for="gift_card_code" class="label admin__field-label"><span><?php /* @escapeNotVerified */
            echo __('Gift Card') ?></span></label>
    <div class="gift-card-container">
        <input type="text" name="gift_card_code"
               id="gift_card_number"
               placeholder="Enter Gift Card Code" value="<?=$giftCardNumber;?>"
               class="input-text admin__control-text"/>


        <button  type="submit" style="display: none"/>

        <button class="action-default scalable action-secondary"
                id="check_gift_card"
                type="button"
                onclick="return false;">
            <span>CHECK CARD</span>
        </button>
        <br>

        <div class="gift-card-value">

        <label for="giftcard_value" class="label admin__field-label"><span><?php /* @escapeNotVerified */
                echo __('Redeem') ?></span></label>

        <input type="text" name="gift_card_value" value="<?=$giftCardValue;?>"
               id="giftcard_value"
               class="input-text admin__control-text"
                />
            <button class="action-default scalable action-secondary"
                    id="apply_gift_card"
                    type="button"
                    onclick="return false;">
                <span>USE CARD</span>
            </button>
        </div>

        <div class="gift-card-balance"></div>
        <div class="gift-card-message">
            <?php if($giftCardSuccess)
            {
                echo '<p class="success">You Use '.$giftCardValue.' value Of '.$giftCardNumber.' Gift Card</p>';
            };?></div>
    </div>
    </div>




<script>
    require(["prototype", "Magento_Sales/order/create/form"], function () {
        order.accountFieldsBind($('customer_account_fieds'));
    });


require(['jquery'], function ($) {

    $('.gift-card-value').hide();
    $('.gift-card-balance').hide();

    var url = '<?= $path;?>';
    var giftCardValue = '<?=$giftCardValue;?>';
    var giftCardSuccess = '<?=$giftCardSuccess;?>';
    var giftCardNumber = '<?=$giftCardNumber;?>';
    var giftCardMessage = $('.gift-card-message');
    var giftCardBalance = $('.gift-card-balance');

    $('#check_gift_card').on('click',function () {

         var giftCardNumber = $('#gift_card_number').val();

             giftCardMessage.html('');
             if(giftCardSuccess) {
                 giftCardMessage.html('<p class="success">You Use ' + giftCardValue + ' Of ' + giftCardNumber + ' Gift Card</p>');
             }
             $.ajax({

                 url: url,
                 type: "POST",
                 data: {giftCardNumber: giftCardNumber},
                 showLoader: true,
                 cache: false,

                 success: function (data) {

                      console.log(data);
                     var cssClass = data['class'];
                     if(cssClass){

                         giftCardMessage.html('<p class='+cssClass+'>' + data['response'] + '</p>');
                         giftCardBalance.html('');
                         $('.gift-card-value').hide();
                     }else {

                         giftCardBalance.html('<p> GIFT CARD BALANCE: ' + data['response'] + '</p>');


                         $('.gift-card-balance').show();

                         $('.gift-card-value').show();
                         $('.gift-card-value').val(giftCardValue);
                         $('#giftcard_value').val(data['redeemValue']);
                     }

                 }

             });



     });


     $('#apply_gift_card').on('click',function () {

         if($('.order-discounts button').length == 0){

             giftCardMessage.html('<p class="error">Please,specify Order Items First.</p>');

             return false;
         }


         var value = $('#giftcard_value').val(),
             email = $('#email').val();

         $.ajax({
             url: url,
             type: "POST",
             data: {value: value, email:email},
             showLoader: true,
             cache: false,

             success: function (data) {

                var cssClass = data['class'];

                 giftCardMessage.html('<p class='+cssClass+'>' + data['response'] + '</p>');

                 $('.order-discounts button').click();

             }
         });

    });
 });


</script>
